@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cutive&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@font-face {
  font-family: 'SFUIText-Light';
  src: url("../fonts/SFUIText-Light.woff") format("woff");
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #ECDDB6;
  text-decoration: none;
}

html {
  overflow-x: hidden;
}

body {
  background: #242323;
  line-height: 1.6;
  overflow-x: hidden;
}

a:hover {
  color: #1a1a1a;
  text-decoration: none;
}

.section-anchor {
  display: block;
  position: relative;
  top: -75px;
  visibility: hidden;
}

header {
  background: rgba(125, 42, 12, 0.75);
  font-family: "SFUIText-Light", sans-serif;
  text-align: center;
  width: 100%;
  position: fixed;
  z-index: 999;
  -webkit-transition: background 500ms ease-in-out;
  transition: background 500ms ease-in-out;
}

header > img {
  max-width: 100%;
  display: block;
}

header nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: #7d2a0c;
  width: 100%;
  -webkit-transform: scale(1, 0);
          transform: scale(1, 0);
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transition-duration: 350ms;
          transition-duration: 350ms;
  -webkit-transition-property: background;
  transition-property: background;
  -webkit-transition: -webkit-transform 400ms ease-in-out;
  transition: -webkit-transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out;
  transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
}

header nav ul {
  margin: 0;
  list-style: none;
  text-align: center;
}

header nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  line-height: 1;
}

header nav a {
  color: #ECDDB6;
  text-decoration: none;
  font-size: clamp(15px, 20px, 25px);
  text-transform: uppercase;
  opacity: 0;
  -webkit-transition: opacity  150ms ease-in-out;
  transition: opacity  150ms ease-in-out;
}

header nav a:hover {
  color: #ECDDB6;
}

header nav .nav-logo {
  display: none;
}

header .logo {
  display: -ms-grid;
  display: grid;
  color: var(--offWhite);
  background: #7d2a0c;
}

header .logo img {
  height: 48px;
}

header .logo__img {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  padding-right: 5px;
}

header .nav-toggle {
  display: none;
}

header .nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .nav-toggle-label span,
header .nav-toggle-label span::before,
header .nav-toggle-label span::after {
  display: block;
  background: #ECDDB6;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

header .nav-toggle-label span::before,
header .nav-toggle-label span::after {
  content: '';
  position: absolute;
}

header .nav-toggle-label span::before {
  bottom: 7px;
}

header .nav-toggle-label span::after {
  top: 7px;
}

header .nav-toggle:checked ~ nav {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  /* background: var(--breadColor); */
}

header .nav-toggle:checked ~ nav a {
  opacity: 1;
  -webkit-transition: opacity  250ms ease-in-out 250ms;
  transition: opacity  250ms ease-in-out 250ms;
}

header .nav-toggle:checked ~ .logo {
  background: #070707;
}

.hero {
  min-height: 100vh;
  z-index: 50;
  display: -ms-grid;
  display: grid;
  justify-items: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .tagline {
  width: 300px;
  min-width: 225px;
  max-width: 60%;
  background: rgba(125, 42, 12, 0.3);
  padding: 1em;
}

.hero .tagline h1 {
  font-family: 'Aladin', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  line-height: 1;
}

.hero .hero__contact {
  background: rgba(125, 42, 12, 0.3);
  position: absolute;
  bottom: 2em;
  right: 1em;
  padding: 1em;
}

.hero .hero__contact {
  background: rgba(125, 42, 12, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

.hero .hero__contact > span {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.hero .hero__contact > span > p {
  font-size: 15px;
}

.hero .hero__contact > img {
  padding-right: 1em;
}

.about {
  position: relative;
  background: #433512;
}

.about::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 0 0 0 100px;
  background: #433512;
  right: 50%;
  bottom: -1em;
  z-index: 100;
}

.about::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 0 0 100px 0;
  background: #433512;
  left: 50%;
  bottom: -1em;
  z-index: 100;
}

.about .about-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 1rem;
  padding-bottom: 0;
  font-size: clamp(3rem, calc(4vw + 1rem), 4.5rem);
  letter-spacing: 2px;
}

.about .about-content {
  width: 100%;
}

.menu {
  position: relative;
}

.menu .menu-title {
  font-family: "Bebas Neue", sans-serif;
  color: #7D2A0C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 1rem;
  padding-bottom: 0;
  font-size: clamp(3rem, calc(4vw + 1rem), 4.5rem);
  letter-spacing: 2px;
}

.menu::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 0 0 0 100px;
  background: #ECDDB6;
  right: 50%;
  bottom: -1em;
  z-index: 100;
}

.menu::after {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 0 0 100px 0;
  background: #ECDDB6;
  left: 50%;
  bottom: -1em;
  z-index: 100;
}

.location {
  min-height: 100vh;
  background: #433512;
  padding-right: 3em;
  padding-left: 3em;
}

.location .location-title {
  font-family: "Bebas Neue", sans-serif;
  color: #ECDDB6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Bebas Neue', sans-serif;
  padding: 1rem;
  padding-bottom: 0;
  font-size: clamp(3rem, calc(4vw + 1rem), 4.5rem);
  letter-spacing: 2px;
}

.location .map-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 50px;
}

.location #gmap_canvas {
  height: 60vh;
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
  padding-bottom: 1em;
}

.location .location__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.location .location__contact > span {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.location .location__contact > span {
  font-size: 20px;
  line-height: 1.6;
}

.location .location__contact > img {
  height: 30px;
  padding-right: 1em;
}

.footer {
  padding: 1em;
  width: 100%;
  background: #7D2A0C;
  color: #ECDDB6;
  font-family: "SFUIText-Light", sans-serif;
  display: -ms-grid;
  display: grid;
  grid-column-gap: 1em;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  font-weight: bold;
}

.footer > div > ul {
  display: none;
}

.footer .footer-logo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  grid-row: 1/5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
}

.footer .footer-logo > a > img {
  width: 100%;
  height: 100%;
}

.footer .footer-home {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer .footer-about {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer .footer-menu {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer .footer-contact {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
}

.footer > div {
  text-transform: uppercase;
}

.footer > * {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
}

@supports (background-blend-mode: multiply) {
  .hero {
    background: url(../img/hero-bg.jpg), radial-gradient(#999898, #111);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}

.about {
  min-height: 100vh;
}

.menu {
  min-height: 100vh;
  background: #ecddb6;
}

@media screen and (min-width: 1024) {
  header nav .nav-logo {
    opacity: 1;
    display: inline-block;
    position: relative;
    top: 0;
  }
  header nav .nav-logo img {
    max-height: 205px;
    height: auto;
    width: auto;
  }
}

@media screen and (min-width: 768px) {
  header {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header > .nav-toggle-label,
  header > .logo {
    display: none;
  }
  header > nav {
    all: unset;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-height: 75px;
  }
  header > nav > ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: relative;
  }
  header > nav > ul > li {
    padding: 0 1em;
    margin: 0;
    display: -ms-grid;
    display: grid;
    place-items: center;
    margin-bottom: 0;
  }
  header > nav > ul > li > a {
    opacity: 1;
    font-size: calc(.5em + 1vw);
  }
  header > nav .nav-logo {
    opacity: 1;
    display: inline-block;
    position: relative;
    top: 0;
  }
  header > nav .nav-logo img {
    max-height: 150px;
    height: auto;
    width: auto;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition: -webkit-transform 400ms ease-in-out;
    transition: -webkit-transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out;
    transition: transform 400ms ease-in-out, -webkit-transform 400ms ease-in-out;
  }
  header > nav > ul > li > a {
    position: relative;
  }
  header > nav > ul > li > a::before {
    content: '';
    display: block;
    height: 3px;
    background: #ECDDB6;
    position: absolute;
    top: -0.25em;
    left: 0;
    right: 0;
    -webkit-transform-origin: right;
            transform-origin: right;
    -webkit-transform: scale(0, 1);
            transform: scale(0, 1);
    -webkit-transition: -webkit-transform ease-in-out 250ms;
    transition: -webkit-transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms;
    transition: transform ease-in-out 250ms, -webkit-transform ease-in-out 250ms;
  }
  header > nav > ul > li > a:hover::before {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  header .shrink {
    min-width: unset;
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  .scrolled {
    background: #7d2a0c;
  }
  .hero {
    position: relative;
    display: -ms-grid;
    display: grid;
    justify-items: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .hero .tagline {
    z-index: 100;
    width: 60%;
    min-width: 590px;
    max-width: 800px;
    background: rgba(125, 42, 12, 0.3);
    padding: 1em;
    padding-left: 3em;
  }
  .hero .tagline h1 {
    font-family: 'Aladin', sans-serif;
    font-size: clamp(3rem, calc(4vw + 3rem), 8rem);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .hero .hero__contact > span {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .hero .hero__contact > span > p {
    font-size: 30px;
  }
  .hero .hero__contact > img {
    padding-right: 1em;
  }
  .location .map-container {
    padding-left: 117.5px;
  }
  .location #gmap_canvas {
    height: 60vh;
    /* The height is 400 pixels */
    width: 80%;
    /* The width is the width of the web page */
  }
  .location .location__contact > span {
    font-size: 30px;
    line-height: 1.6;
  }
  .location .location__contact > img {
    height: 30px;
    padding-right: 1em;
  }
  .footerMain {
    width: 100%;
  }
  .footer {
    all: unset;
    padding: 2em;
    width: 100%;
    background: #7D2A0C;
    color: #ECDDB6;
    font-family: "SFUIText-Light", sans-serif;
    font-weight: bold;
    display: -ms-grid;
    display: grid;
    grid-column-gap: 1em;
    -ms-grid-columns: minmax(300px, 1fr) auto auto auto minmax(300px, auto);
        grid-template-columns: minmax(300px, 1fr) auto auto auto minmax(300px, auto);
  }
  .footer > div > ul {
    width: 92%;
    float: right;
    display: inline;
    list-style-type: none;
  }
  .footer > div > ul > li {
    display: block;
  }
  .footer > div > ul > li > img {
    height: 20px;
    padding-right: 5px;
  }
  .footer .footer-logo {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
  }
  .footer .footer-home {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
  }
  .footer .footer-about {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
  }
  .footer .footer-menu {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 4/5;
  }
  .footer .footer-contact {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    -ms-grid-column: 5;
    -ms-grid-column-span: 1;
    grid-column: 5/6;
  }
  .footer > div > a {
    text-transform: uppercase;
    font-size: clamp(1.5rem, calc(1vh + 1.5rem), 5rem);
  }
  .footer > * {
    -ms-flex-preferred-size: 20%;
        flex-basis: 20%;
  }
}

@media screen and (max-height: 640px) {
  .hero > .tagline {
    z-index: 100;
    width: 40%;
    min-width: 40%;
    background: rgba(125, 42, 12, 0.3);
    padding: 1em;
    padding-left: 3em;
  }
  .hero > .tagline h1 {
    font-family: 'Aladin', sans-serif;
    font-size: clamp(2rem, calc(2vh + 2rem), 6rem);
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .hero .hero__contact > span {
    display: -ms-grid;
    display: grid;
    place-items: center;
  }
  .hero .hero__contact > span > p {
    font-size: 20px;
  }
  .hero .hero__contact > img {
    height: 20px;
    padding-right: 1em;
  }
}
/*# sourceMappingURL=main.css.map */